.ingredient-list-container {
    display: block;
    margin: 16px 0;
}

.label-title {
    width: 100%;
    display: block;
}

.label-title label {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 12px
}

.center-add-button-div {
    display: block;
    text-align: center;
    margin-top: 2rem;
}

.add-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.add-btn:hover {
    background: #1565c0;
    transform: scale(1.05);
}

.ingredient-section {
    border: 1px solid black;
}

.sectionTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-title-input {
    flex: 1;
}

.ingredient-items {
    display: flex;
    flex-direction: column;
}

.ingredient-label {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ingredient-item-list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}