<section class="bg-blue-50 px-4 py-10">
  <div class="container-xl lg:container m-auto">
    <h2 class="text-3xl font-bold text-indigo-500 mb-6 text-center"></h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <!-- Loop through the filterVtubers array and display each VTuber -->
      <div *ngFor="let vtuber of filterVtubers">
        <!-- Pass the vtuber object to the app-vtuber-entity component -->
        <vtuber-entity [vtuberEntity]="vtuber"></vtuber-entity>
      </div>
    </div>
  </div>
</section>
