/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* src/app/app.component.scss */

.bg-blue-50 {
    background-color: #eff6ff;
  }
  
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  
  .container-xl {
    max-width: 1280px;
  }
  
  .lg\:container {
    width: 100%;
  }
  
  .m-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .text-3xl {
    font-size: 1.875rem;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .text-indigo-500 {
    color: #6366f1;
  }
  
  .mb-6 {
    margin-bottom: 1.5rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  .grid {
    display: grid;
  }
  
  .grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .gap-6 {
    gap: 1.5rem;
  }

.bg-white {
    background-color: white;
  }
  
  .rounded-xl {
    border-radius: 0.75rem;
  }
  
  .shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .relative {
    position: relative;
  }
  
  .p-4 {
    padding: 1rem;
  }
  
  .mb-6 {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ensure content is stacked vertically */
  }
  
  .text-gray-600 {
    color: #4b5563;
  }
  
  .my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .border {
    border-width: 1px;
  }
  
  .border-gray-100 {
    border-color: #f3f4f6;
  }
  
  .mb-5 {
    margin-bottom: 1.25rem;
  }
  
  .name-line {
    width: 100%; /* Full width of the container */
    height: 1px;
    background-color: #f3f4f6; /* Light gray border */
    margin-top: 8px; /* Space between the name and the line */
  }
  