name: build-output-directory

on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:        
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node 22
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          
      - name: Show directory tree
        run: ls -R .    

      # - name: npm install for React frontend
      #   run: |
      #     cd BetterFront-start/BetterFront-React
      #     npm install
